<div class="login-page" *ngIf="!isSignedIn()">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Korpus</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form action="" [formGroup]="signinForm" (ngSubmit)="signin()">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Username"
                  required
                  formControlName="username">
                  <mat-error *ngIf="signinForm.get('username').invalid">Username is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="3"
                  formControlName="password">
                  <mat-error
                    *ngIf="signinForm.get('password').errors && signinForm.get('password').errors.required">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="signinForm.get('password').errors && signinForm.get('password').errors.minlength">
                    Password must be of length 3
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <!-- <mat-checkbox>Remember Me!</mat-checkbox> -->
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Sign In
              </button>
            </form>
          </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form action="" [formGroup]="signupForm" (ngSubmit)="signup()">
            <mat-form-field>
              <input
                matInput
                placeholder="Username"
                required
                formControlName="username">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="signupForm.get('username').invalid">
                Username is required
              </mat-error>

            </mat-form-field>
            
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="3"
                formControlName="password">
                <mat-error
                  *ngIf="signupForm.get('password').errors && signupForm.get('password').errors.required">
                  Password is required
                </mat-error>
                <mat-error
                  *ngIf="signupForm.get('password').errors && signupForm.get('password').errors.minlength">
                  Password must be of length 3
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field>
                <input
                matInput
                placeholder="Re-enter password"
                type="password"
                required
                minlength="3"
                formControlName="repassword">
                <mat-error
                  *ngIf="signupForm.get('password').value != signupForm.get('repassword').value">
                  Passwords must match
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="login-button">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
