<mat-toolbar color="primary"class = navbar>
  <div>Korpus</div>
  <div>
    <button mat-raised-button (click)="logOut()">Log out</button>
  </div>
</mat-toolbar>

<!-- Dialog window Add Phrase -->
<div class="add-button" style="background-color:white;">
  <button mat-raised-button (click)="openDialog()"> Add Phrase</button>
</div>

<div class="FilterBox" style="background-color:white;">
  <mat-form-field appearance="fill">
  <mat-label>Select Group</mat-label>
  <mat-select name="customerString" [(value)]="selectedCustomer"  (selectionChange)="onSelectionChange(selectedCustomer)"
  placeholder="customerGroup">
    <mat-option *ngFor="let customerGroup of customerGroups" [value]="customerGroup.name">
      {{customerGroup.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>


</div>


<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Phrase Column -->
  <ng-container matColumnDef="phrase">
    <th mat-header-cell *matHeaderCellDef> Phrase </th>
    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
  </ng-container>

  <!-- SynonymColumn -->
  <ng-container matColumnDef="synonyms">
    <th mat-header-cell *matHeaderCellDef> Synonyms </th>
    <td mat-cell *matCellDef="let element"> {{element.synonyms.length>0 ? element.synonyms[0].meaning.text : "-"}} </td>
  </ng-container>

  <!-- Delete columns -->
  <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-raised-button color="warn" (click)="deleteSynonym(element.id)"> Delete </button>
      </td>
    </ng-container>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

