
/* Structure */
.FilterBox{
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
  color:#FFFFFF;
  padding-left: 50px;
}

.mat-raised-button{
 
}

mat-paginator{
  width: 100%;
}

.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}

