
/* Structure */
.FilterBox{
  width: 100%;
  color: black;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
  color: black;
  padding-left: 50px;
}

.mat-raised-button{
 
}

mat-paginator{
  width: 100%;
}

.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}

.add-button{
  padding-left: 50px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  color: black;
}
