<h2 mat-dialog-title>Normalize text</h2>
<mat-dialog-content class="mat-typography">
    <h4>Select customer group</h4>
    <mat-form-field appearance="fill">
      <mat-select name="customerString" [(value)]="selectedCustomer" (selectionChange)="onSelectionChange(selectedCustomer)"
      placeholder="Select" [formControl]="customerControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let customerGroup of customerGroups" [value]="customerGroup.name">
          {{customerGroup.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="customerControl.hasError('required')">Please select customer group</mat-error>
    </mat-form-field>
    <div>
      <label for="clipboard-example-textarea">Text to be normalized</label>
    </div>
<textarea id="clipboard-example-textarea" cols="30" rows="10" [(ngModel)]="value"></textarea>
<button mat-raised-button (click)="translateText()" color="primary">Translate</button>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancel</button>
</mat-dialog-actions>