/* You can add global styles to this file, and also import other style files */
body{
  background-color: #333533;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}